@import "tailwindcss";

:root {
  /* Warm Parchment */
  --background: #F5F5DC;
  /* Deep Brown */
  --foreground: #5C4033;
  /* : Light Beige */
  --borders: #E0D8C0;
  /* Warm Terracotta/Ochre */
  --primary: #CD853F;
  /* Muted Twilight Blue  */
  --secondary: #778899;
  /* Warm Terracotta/Ochre */
  --accent: #FFEC8B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nunito-sans);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}