@import "tailwindcss";

:root {
  /* Warm Parchment */
  --background: #F5F5DC;
  /* Deep Brown */
  --foreground: #5C4033;
  /* : Light Beige */
  --border: #E0D8C0;
  /* Warm Terracotta/Ochre */
  --primary: #CD853F;
  /* Muted Twilight Blue  */
  --secondary: #778899;
  /* Warm Terracotta/Ochre */
  --accent: #FFEC8B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-nunito-sans);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* warm grey-brown */
    --background: #3A3232;
    /* Warm Off-White */
    --foreground: #EAE0D1;
    /* Slightly lighter warm grey-brown */
    --border: #4A4242;
    /* Tan */
    --primary: #D2B48C;
    /* Muted Twilight Blue  */
    --secondary: #778899 ;
    /* Warm Terracotta/Ochre */
    --accent: #FFEC8B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

/** UPPY COLOR RESET **/

.uppy-Dashboard-inner {
  background-color: var(--color-border) !important;
  border-color: var(--color-foreground) !important;
  border-radius: 16px !important;
}

.uppy-Dashboard-AddFiles-title, .uppy-DashboardContent-title, .uppy-Dashboard-Item-name, .uppy-Informer-animated p{
  color: var(--color-foreground) !important;
}

.uppy-u-reset.uppy-c-btn.uppy-Dashboard-browse, .uppy-DashboardContent-back {
  color: var(--color-accent) !important;
}
.uppy-u-reset.uppy-c-btn.uppy-Dashboard-browse:hover {
  border-color: var(--color-accent);
}

.uppy-Dashboard-AddFiles {
  border-radius: 8px !important;
  border-color: var(--color-secondary) !important;
}
/** UPPY COLOR RESET END **/